<ng-select #ngselect
					 appearance="outline"
					 bindValue="full"
					 bindLabel="prettyFull"
					 groupBy="zones"
					 (change)="selectZone($event)"
					 (open)="asyncCloseGroups()"
					 [items]="timeZone"
					 [loading]="loading"
					 (clear)="onClear()"
					 (search)="expandOnSearch($event)"
					 [ngModel]="selected">
	<ng-template ng-optgroup-tmp
							 let-item="item">
		<ng-container *ngIf="item.zones">
			<button type="button"
							(click)="setGroupState(item.zone) ">
				<span>
					{{item.zone | camelNormal}}
				</span>
				<mat-icon>expand_more</mat-icon>
			</button>
		</ng-container>
		<ng-container *ngIf="!item.zones">
			<button type="button"
							(click)="selectZone(item)">
				<span>
					{{item.prettyFull | camelNormal}}
				</span>
			</button>
		</ng-container>
	</ng-template>
	<ng-template ng-option-tmp
							 let-item="item">
		<span #zone
					[class]="item.parent">
			{{item.zone | camelNormal}}
		</span>
	</ng-template>
</ng-select>