<div>
	<div id="current-time-container">
		<h2>Current Time</h2>
		<p>{{currentDate | date: "yyyy MMM dd"}}</p>
		<p>{{currentTime$ | async | date:"h:mm:ss a 'UTC'Z"}}</p>
	</div>
	<div id="clock-tokens">
		<div id="add-clock-token" class="clock-token-container" (click)="addClockToken()">
			<div class="clock-token">
				<img src="assets/svg/face.svg">
				<div class="clock-token-text">+</div>
			</div>
			<span class="clock-token-name">Add New</span>
		</div>
		<div class="clock-token-list" cdkDropList cdkDropListOrientation="horizontal"
			(cdkDropListDropped)="dragDrop($event)">
			<app-clock-token cdkDrag *ngFor="let clock of clocks; index as i" [data]="clock" (delete)="deleteToken(i)">
				<div class="clock-token-placeholder" *cdkDragPlaceholder></div>
			</app-clock-token>
		</div>
	</div>
</div>