#current-time-container {
  text-align: center;
}

#clock-tokens, .clock-token-list {
  display: flex;
	align-items: flex-start;
  width: 100%;
}

.clock-token-list {
  padding: 1rem;
  padding-left: 0;
  gap: 0.5rem;
  overflow-x: auto;
}

#add-clock-token {
  cursor: pointer;
  padding: 1rem;

	.clock-token-time {
		display: none;
	}
  .clock-token-text {
		position: absolute;
    font-size: 3rem;
  }
}


/* Animate an item that has been dropped. */
.cdk-drop-list-dragging .cdk-drag, .cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}

.clock-token-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}