<div>
	<div id="current-time-container">
		<div class="banner">
			<h2>Current Time</h2>
		</div>
		<p>{{currentDate | date: "yyyy MMM dd"}} {{currentTime$ | async | date:"h:mm:ss a 'UTC'Z"}}</p>
	</div>
	<div id="clock-tokens">
		<button type="button"
						id="add-clock-token"
						class="clock-token-container"
						(click)="addClockToken()">
			<div class="clock-token">
				<img src="assets/svg/face.svg"
						 alt="clock face">
				<div class="clock-token-text">+</div>
			</div>
			<span class="clock-token-name">Add New</span>
		</button>
		<div class="clock-token-list"
				 cdkDropList
				 cdkDropListOrientation="horizontal"
				 (cdkDropListDropped)="dragDrop($event)">
			<app-clock-token cdkDrag
											 *ngFor="let clock of clocks; index as i"
											 [data]="clock"
											 (delete)="deleteToken(i)">
				<div class="clock-token-placeholder"
						 *cdkDragPlaceholder></div>
			</app-clock-token>
		</div>
	</div>
</div>