#current-time-container {
  text-align: center;
}

#clock-tokens, .clock-token-list {
  display: flex;
	align-items: flex-start;
  width: 100%;
}

.clock-token-list {
  padding: 1rem;
  padding-left: 0;
  gap: 0.5rem;
  overflow-x: auto;
}

#add-clock-token {
  cursor: pointer;
  padding: 1rem;

	.clock-token-time {
		display: none;
	}
  .clock-token-text {
		position: absolute;
    font-size: 3rem;
  }
}
