.meeting-container {
}
.starting-location-container,
#starting-location-form,
#participant-locations-form {
  display: flex;
}
.starting-location-container {
	flex-direction: column;
	.time-output {
		display: flex;
	}
}
.meeting-locations-container {
}

.mat-mdc-input-element::-webkit-calendar-picker-indicator {
  display: block;
}