.starting-location-container,
#starting-location-header,
#starting-location-form,
#participant-locations-header,
#participant-locations-form {
  display: flex;
}

#participant-locations-header {
  border-bottom: 2px solid gray;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  flex-direction: column;
}

#starting-location-form,
#participant-locations-form {
  gap: 0 0.5rem;
  > * {
    flex: 1 1;
  }
}

#starting-location-header {
  justify-content: space-between;
  margin-bottom: 1rem;

  h3 {
    margin: 0;
  }
}

.starting-location-container {
  flex-direction: column;
  #time-output {
    margin-bottom: 0.5rem;
  }
}

.delete-participant-location mat-icon {
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 4px;

  &:hover {
    color: black;
    background-color: rgba(255, 0, 0, 0.5);
  }
}

// fixes missing time input icon due to MUI styles
.mat-mdc-input-element::-webkit-calendar-picker-indicator {
  display: block;
}
