<div class="meeting-container">
	<div class="banner">
		<h2>Plan a Meeting</h2>
	</div>
	<h3>Starting Location, Time, and Date</h3>
	<div class="starting-location-container">
		<form id="starting-location-form" [formGroup]="startTimeForm">
			<mat-form-field>
				<mat-label>Time Zone</mat-label>
				<mat-select formControlName="selectedZone">
					<mat-option *ngFor="let option of timeZone | keyvalue" [value]="option.value">
						{{option.value | camelNormal}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<input matInput type="time" (change)="updateTime($event)" [value]="formattedTime">
			</mat-form-field>

			<mat-form-field>
				<input matInput [matDatepicker]="picker" formControlName="selectedDate">
				<mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

		</form>
		<div id="time-output">
			{{utc}} {{mainTime}}
		</div>
	</div>
	<div class="participant-locations-container">
		<h3>Participant Locations</h3>

		<button mat-raised-button (click)="addClocks()">Add all from Clock List</button>

		<form id="participant-locations-form">
			<mat-form-field>
				<mat-label>Time Zone</mat-label>
				<mat-select [formControl]="addLocationForm">
					<mat-option *ngFor="let option of timeZone | keyvalue" [value]="option.value">
						{{option.value | camelNormal}}
					</mat-option>
				</mat-select>
			</mat-form-field>

			<button mat-raised-button (click)="addLocation()">Add Location</button>
		</form>


		<div *ngFor="let location of locations; index as i;" (click)="removeLocation(i)">
			{{location.zoneName}}
			{{formatLocationTime(location)}}
		</div>
	</div>
</div>