<div class="meeting-container">
	<div class="banner">
		<h2>Plan a Meeting</h2>
	</div>
	<div id="starting-location-header">
		<div>
			<h3>Starting Location, Date, and Time</h3>
			<div id="time-output">
				{{utc}} {{shortTime}}
			</div>
		</div>
		<button mat-fab extended
						color="primary"
						(click)="refresh()">
			<mat-icon>refresh</mat-icon>
			Reset to now
		</button>
	</div>
	<div class="starting-location-container">
		<form id="starting-location-form"
					[formGroup]="startTimeForm">

			<app-timezone-select formControlName="selectedZone"></app-timezone-select>

			<mat-form-field appearance="outline">
				<input matInput
							 [matDatepicker]="picker"
							 formControlName="selectedDate">
				<mat-datepicker-toggle matIconSuffix
															 [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>

			<mat-form-field appearance="outline">
				<input matInput
							 type="time"
							 (change)="updateTime($event)"
							 [value]="milTime">
			</mat-form-field>
		</form>
	</div>
	<div class="participant-locations-container">
		<div id="participant-locations-header">
			<h3>Participant Locations</h3>
			<form id="participant-locations-form">
				<app-timezone-select [formControl]="addLocationForm"></app-timezone-select>

				<button mat-raised-button
								color="primary"
								(click)="addLocation()"
								[disabled]="!addLocationForm.value">Add Location</button>

				<button mat-raised-button
								color="accent"
								(click)="addClocks()">Add all from above</button>
			</form>
		</div>

		<mat-list class="partcipant-location"
							cdkDropList
							(cdkDropListDropped)="dragDrop($event)">
			<mat-list-item cdkDrag
										 *ngFor="let location of locations; index as i;">
				<mat-icon matListItemIcon fontIcon="menu" style="cursor: pointer;"></mat-icon>
				<span matListItemTitle>{{location.zoneName | camelNormal}}</span>
				<span matListItemLine>{{formatLocationTime(location)}}</span>

				<button matListItemMeta
								type="button"
								class="delete-participant-location">
					<mat-icon (click)="removeLocation(i)"
										fontIcon="delete"></mat-icon>
				</button>
			</mat-list-item>
		</mat-list>
	</div>
</div>